# Import Thư viện

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Load Data

In [2]:
book = pd.read_csv('../data/book_data.csv')

In [3]:
comment = pd.read_csv('../data/comments.csv')

## BOOK - PROCESSING

In [4]:
book.head()

,product_id,title,authors,original_price,current_price,quantity,category,n_review,avg_rating,pages,manufacturer,cover_link
0,74021317,Cây Cam Ngọt Của Tôi,José Mauro de Vasconcelos,108000,64800,53075.0,Tiểu Thuyết,11481,5.0,244,Nhà Xuất Bản Hội Nhà Văn,https://salt.tikicdn.com/ts/product/5e/18/24/2...
1,74021317,Cây Cam Ngọt Của Tôi,José Mauro de Vasconcelos,108000,64800,53075.0,Tiểu Thuyết,11481,5.0,244,Nhà Xuất Bản Hội Nhà Văn,https://salt.tikicdn.com/ts/product/5e/18/24/2...
2,184466860,Hành Tinh Của Một Kẻ Nghĩ Nhiều,Nguyễn Đoàn Minh Thư,86000,59900,7929.0,Sách tư duy - Kỹ năng sống,780,4.8,184,Nhà Xuất Bản Thế Giới,https://salt.tikicdn.com/ts/product/d7/99/24/1...
3,73787185,Những Tù Nhân Của Địa Lý,Tim Marshall,210000,126000,17896.0,Lĩnh vực khác,3623,4.8,430,Nhà Xuất Bản Hội Nhà Văn,https://salt.tikicdn.com/ts/product/8d/96/9e/c...
4,52789367,Nhà Giả Kim (Tái Bản 2020),Paulo Coelho,79000,47400,24668.0,Tác phẩm kinh điển,5131,5.0,228,Nhà Xuất Bản Hà Nội,https://salt.tikicdn.com/ts/product/45/3b/fc/a...

In [5]:
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1796 entries, 0 to 1795
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      1796 non-null   int64
 1   title           1796 non-null   object
 2   authors         1653 non-null   object
 3   original_price  1796 non-null   int64
 4   current_price   1796 non-null   int64
 5   quantity        1751 non-null   float64
 6   category        1796 non-null   object
 7   n_review        1796 non-null   int64
 8   avg_rating      1796 non-null   float64
 9   pages           1546 non-null   object
 10  manufacturer    1523 non-null   object
 11  cover_link      1796 non-null   object
dtypes: float64(2), int64(4), object(6)
memory usage: 168.5+ KB

In [6]:
comment.head(10)

,product_id,comment_id,title,thank_count,customer_id,rating,content
0,74021317,12559756,Cực kì hài lòng,313,22051463,5,"Có những người bước đến, họ lấp đầy hạnh phúc ..."
1,74021317,16979365,Cực kì hài lòng,6,27791831,5,"Thấy nhiều bạn chê tiki gói hàng quá, may sao ..."
2,74021317,14069617,Cực kì hài lòng,25,17748750,5,"Bìa cực xinh, tiki giao hàng nhanh, sách không..."
3,74021317,8569824,Cực kì hài lòng,57,410797,5,"Sách lúc nhận hình thức rất ổn, không cong vên..."
4,74021317,18368714,Cực kì hài lòng,0,28545286,5,Một cuốn sách rất đáng đọc về tình yêu thương ...
5,74021317,13944789,Bình thường,0,24792909,3,"hic thấy người ta mua sách nhìn ổn áp ghê, tới..."
6,74021317,12322259,Cực kì hài lòng,14,10149686,5,"Nội dung của sách thì không phải bàn đến rồi, ..."
7,74021317,8981219,Một cuốn sách đầy cảm xúc. ?,93,12682403,5,Cho đến khi những trang sách cuối cùng ấy khép...
8,74021317,11174991,Cực kì hài lòng,69,6575358,5,Mình không ngờ nó có thể hay đến như vậy. Bắt ...
9,74021317,10722141,Bình thường,3,1994490,3,Bình thường sách mình vẫn hay ra nhà sách mua ...

In [7]:
print(comment)

        product_id  comment_id            title  thank_count  customer_id  \
0         74021317    12559756  Cực kì hài lòng          313     22051463
1         74021317    16979365  Cực kì hài lòng            6     27791831
2         74021317    14069617  Cực kì hài lòng           25     17748750
3         74021317     8569824  Cực kì hài lòng           57       410797
4         74021317    18368714  Cực kì hài lòng            0     28545286
...            ...         ...              ...          ...          ...
141276    58971672    16391630  Cực kì hài lòng            0      6625296
141277    58971672    12767000  Cực kì hài lòng            0     16435374
141278    58971672    16322348  Cực kì hài lòng            0     10549708
141279    58971672    16288080  Cực kì hài lòng            0     14487833
141280    58971672    16204880  Cực kì hài lòng            0     27440114

        rating                                            content
0            5  Có những người bước đến, họ lấp đầy hạnh phúc ...
1            5  Thấy nhiều bạn chê tiki gói hàng quá, may sao ...
2            5  Bìa cực xinh, tiki giao hàng nhanh, sách không...
3            5  Sách lúc nhận hình thức rất ổn, không cong vên...
4            5  Một cuốn sách rất đáng đọc về tình yêu thương ...
...        ...                                                ...
141276       5                                                NaN
141277       5                                      Tuyệt vời lắm
141278       5                                                NaN
141279       5                                                NaN
141280       5                                                NaN

[141281 rows x 7 columns]

In [8]:
comment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141281 entries, 0 to 141280
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   product_id   141281 non-null  int64
 1   comment_id   141281 non-null  int64
 2   title        141277 non-null  object
 3   thank_count  141281 non-null  int64
 4   customer_id  141281 non-null  int64
 5   rating       141281 non-null  int64
 6   content      103263 non-null  object
dtypes: int64(5), object(2)
memory usage: 7.5+ MB

# Chuẩn bị Data

### Xử lý giá trị và dữ liệu bị thiếu

In [9]:
book.isnull().sum()

product_id          0
title               0
authors           143
original_price      0
current_price       0
quantity           45
category            0
n_review            0
avg_rating          0
pages             250
manufacturer      273
cover_link          0
dtype: int64

#### Product_ID

In [10]:
book['product_id'].duplicated().sum()

np.int64(19)

In [11]:
book = book.drop_duplicates(subset=['product_id'])

xóa duplicated theo product_id là vì chắc chắn các sách có id giống nhau là bị lỗi, còn của tittle là có thể nhiều phiên bản sách được tái bản khác nhau

#### Authors

In [12]:
book['authors'].value_counts()

authors
Nguyễn Nhật Ánh       24
Higashino Keigo       20
.                     18
Thích Nhất Hạnh       16
Haruki Murakami       15
                      ..
John E. Douglas        1
William H. McRaven     1
Pauline Réage          1
@yenlamtho             1
Tố Hữu                 1
Name: count, Length: 1083, dtype: int64

có 18 '.' tên tác giả. nên ta sẽ xóa chúng đi và chuyển chúng thành ' Unknow '

In [13]:
book['authors'] = book['authors'].replace('.', 'Unknown')

In [14]:
book['authors'] = book['authors'].fillna('Unknown')

In [15]:
book['authors'].value_counts()

authors
Unknown               158
Nguyễn Nhật Ánh        24
Higashino Keigo        20
Thích Nhất Hạnh        16
Haruki Murakami        15
                     ...
John E. Douglas         1
William H. McRaven      1
Pauline Réage           1
@yenlamtho              1
Andrea Hirata           1
Name: count, Length: 1083, dtype: int64

đã xử lý xong các giá trị là dấu '.' và giá trị NaN trong cột acthors và chuyển chúng thành Unknown

#### Quantity

In [16]:
book['quantity'].value_counts(dropna=False)

quantity
NaN        45
1.0        14
22.0        8
171.0       7
63.0        7
           ..
707.0       1
7737.0      1
499.0       1
2084.0      1
24668.0     1
Name: count, Length: 1190, dtype: int64

In [17]:
# Lọc các sản phẩm bị thiếu quantity
missing_quantity = book[book['quantity'].isna()]

print("Số sản phẩm thiếu quantity:", len(missing_quantity))
print("\n10 sản phẩm đầu tiên bị thiếu:")
print(missing_quantity[['product_id', 'title', 'quantity', 'n_review', 'avg_rating']].head(10))

print("\n--- Thống kê ---")
print("Số sản phẩm có n_review > 0:", (missing_quantity['n_review'] > 0).sum())
print("Số sản phẩm có avg_rating > 0:", (missing_quantity['avg_rating'] > 0).sum())

print("\nPhân bố n_review:")
print(missing_quantity['n_review'].describe())

print("\nPhân bố avg_rating:")
print(missing_quantity['avg_rating'].describe())

Số sản phẩm thiếu quantity: 45

10 sản phẩm đầu tiên bị thiếu:
     product_id                                              title  quantity  \
119   205942260                             Chuyện Đi Làm Hết Lòng       NaN
177   204635033        Thám Tử Lừng Danh Conan - Tập 100 - Bìa Gập       NaN
275    57911668                              Kho Báu Bị Nguyền Rủa       NaN
342   205227772     1111 - Nhật Ký Sáu Vạn Dặm Trên Yên Xe Cà Tàng       NaN
356    45321594            Nghệ Thuật Bán Hàng Của Người Hướng Nội       NaN
358   196411152  The Mountain Is You - Nếu Không Giải Quyết Vấn...       NaN
368      552164                       Kim Bình Mai (Trọn Bộ 3 Tập)       NaN
457   109505434  Bạn Không Thông Minh Lắm Đâu (Tái Bản)(Tặng kè...       NaN
478   205423656                               Nhân Duyên Tiền Kiếp       NaN
562   205617693  Sách Gia Định Là Nhớ Sài Gòn Là Thương - First...       NaN

     n_review  avg_rating
119         0         0.0
177         0         0.0
275         0         0.0
342         0         0.0
356         0         0.0
358         0         0.0
368         0         0.0
457         0         0.0
478         0         0.0
562         0         0.0

--- Thống kê ---
Số sản phẩm có n_review > 0: 0
Số sản phẩm có avg_rating > 0: 0

Phân bố n_review:
count    45.0
mean      0.0
std       0.0
min       0.0
25%       0.0
50%       0.0
75%       0.0
max       0.0
Name: n_review, dtype: float64

Phân bố avg_rating:
count    45.0
mean      0.0
std       0.0
min       0.0
25%       0.0
50%       0.0
75%       0.0
max       0.0
Name: avg_rating, dtype: float64

- kết luận các giá trị NaN trong cột "quantity" có nghĩa là các sách này chưa được mua lần nào chứ không phải do lỗi dữ liệu
- nên ta có kết fill 0 vào các giá trị NaN trên

In [18]:
book['quantity'].fillna(0, inplace=True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_20992\3459113588.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  book['quantity'].fillna(0, inplace=True)

In [19]:
book['quantity'].value_counts(dropna=False)

quantity
0.0        45
1.0        14
22.0        8
171.0       7
63.0        7
           ..
707.0       1
7737.0      1
499.0       1
2084.0      1
24668.0     1
Name: count, Length: 1190, dtype: int64

In [20]:
book.isnull().sum()

product_id          0
title               0
authors             0
original_price      0
current_price       0
quantity            0
category            0
n_review            0
avg_rating          0
pages             250
manufacturer      265
cover_link          0
dtype: int64

#### Pages

In [21]:
book['pages'].value_counts(dropna=False)

pages
NaN    250
192     38
200     37
280     30
352     21
      ...
294      1
251      1
647      1
167      1
706      1
Name: count, Length: 396, dtype: int64

In [22]:
book['pages'] = pd.to_numeric(book['pages'], errors='coerce')

In [23]:
book['pages'].fillna(book['pages'].median(), inplace=True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_20992\1189079175.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  book['pages'].fillna(book['pages'].median(), inplace=True)

In [24]:
book.isnull().sum()

product_id          0
title               0
authors             0
original_price      0
current_price       0
quantity            0
category            0
n_review            0
avg_rating          0
pages               0
manufacturer      265
cover_link          0
dtype: int64

- vì pages đang ở dạng object nên ta chuyển kiểu dữ liệu của pages sang numeric 
- sau đó tiến hành điền median vào các giá trị NaN trong cột pages

In [25]:
book[book.pages > 3000]

,product_id,title,authors,original_price,current_price,quantity,category,n_review,avg_rating,pages,manufacturer,cover_link
650,201687274,Có Một Nổi Buồn Vừa Ngang Qua Đây,Gã,88000,64900,114.0,Truyện ngắn - Tản văn - Tạp Văn,6,5.0,192000.0,Nhà Xuất Bản Văn Học,https://salt.tikicdn.com/ts/product/08/fd/a5/0...

- cuốn sách dày nhất thế giới cũng chỉ khoảng 3,000-5,000 trang đằng này lại có tới 192000 trang @@. 
- nên ta sẽ tiến hành drop bỏ

In [26]:
book = book.query('pages < 3000')

#### Manufacturer

In [27]:
book['manufacturer'].value_counts(dropna=False)

manufacturer
NaN                                              265
Nhà Xuất Bản Thế Giới                            249
NXB Trẻ                                          145
Nhà Xuất Bản Hà Nội                              128
Nhà Xuất Bản Dân Trí                             126
Nhà Xuất Bản Kim Đồng                            113
Nhà Xuất Bản Hội Nhà Văn                         111
Nhà Xuất Bản Thanh Niên                           98
Nhà Xuất Bản Tổng hợp TP.HCM                      92
Nhà Xuất Bản Lao Động                             90
Nhà Xuất Bản Văn Học                              76
Nhà Xuất Bản Hồng Đức                             57
Nhà Xuất Bản Công Thương                          46
Nhà Xuất Bản Phụ Nữ Việt Nam                      38
Nhà Xuất Bản Phụ Nữ                               30
Nhà Xuất Bản Đà Nẵng                              17
Nhà Xuất Bản Đại Học Quốc Gia Hà Nội              13
Nhà Xuất Bản Mỹ Thuật                              8
Nhà Xuất Bản Lao Động Xã Hội                       7
Nhà Xuất Bản Tri Thức                              7
Nhiều Nhà Xuất Bản                                 6
NXB Dân Trí                                        6
Nhà Xuất Bản Khoa Học Xã Hội                       5
Nhà Xuất Bản Tài Chính                             5
Nhà Xuất Bản Chính Trị Quốc Gia Sự Thật            4
Nhà Xuất Bản Văn Hóa - Văn Nghệ TP.HCM             3
Nhà Xuất Bản Thông Tin Và Truyền Thông             3
hong duc                                           3
Nhà Xuất Bản Đồng Nai                              3
NXB Đại học Kinh Tế Quốc Dân                       3
Nhà Xuất Bản Kinh Tế TPHCM                         3
Nhà Xuất Bản Thông Tấn                             2
Nhà Xuất Bản Khoa học & kỹ thuật                   2
Nhà Xuất Bản Đại Học Kinh Tế Quốc Dân              2
Nhà Xuất Bản Tôn Giáo                              2
Forbes Việt Nam                                    2
ĐHQG Hà Nội                                        1
Nhà Xuất Bản Văn Hoá Dân Tộc                       1
Nhà Xuất Bản Hồng Đức - Hội Luật Gia Việt Nam      1
Nhà Xuất Bản Compass Publishing                    1
Nhà Xuất Bản Thời Đại                              1
Nhà Xuất Bản Giáo Dục Việt Nam                     1
Name: count, dtype: int64

In [28]:
book['manufacturer'] = book['manufacturer'].fillna('Unknown')

ta sẽ fill các NXB có giá trị NaN bằng Unknow

In [29]:
book.isnull().sum()

product_id        0
title             0
authors           0
original_price    0
current_price     0
quantity          0
category          0
n_review          0
avg_rating        0
pages             0
manufacturer      0
cover_link        0
dtype: int64

In [30]:
book.head()

,product_id,title,authors,original_price,current_price,quantity,category,n_review,avg_rating,pages,manufacturer,cover_link
0,74021317,Cây Cam Ngọt Của Tôi,José Mauro de Vasconcelos,108000,64800,53075.0,Tiểu Thuyết,11481,5.0,244.0,Nhà Xuất Bản Hội Nhà Văn,https://salt.tikicdn.com/ts/product/5e/18/24/2...
2,184466860,Hành Tinh Của Một Kẻ Nghĩ Nhiều,Nguyễn Đoàn Minh Thư,86000,59900,7929.0,Sách tư duy - Kỹ năng sống,780,4.8,184.0,Nhà Xuất Bản Thế Giới,https://salt.tikicdn.com/ts/product/d7/99/24/1...
3,73787185,Những Tù Nhân Của Địa Lý,Tim Marshall,210000,126000,17896.0,Lĩnh vực khác,3623,4.8,430.0,Nhà Xuất Bản Hội Nhà Văn,https://salt.tikicdn.com/ts/product/8d/96/9e/c...
4,52789367,Nhà Giả Kim (Tái Bản 2020),Paulo Coelho,79000,47400,24668.0,Tác phẩm kinh điển,5131,5.0,228.0,Nhà Xuất Bản Hà Nội,https://salt.tikicdn.com/ts/product/45/3b/fc/a...
5,147920903,Một Thoáng Ta Rực Rỡ Ở Nhân Gian,Unknown,135000,81000,10000.0,Tiểu Thuyết,1636,4.8,304.0,Nhà Xuất Bản Hội Nhà Văn,https://salt.tikicdn.com/ts/product/2f/b5/4e/a...

In [31]:
book.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1776 entries, 0 to 1795
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      1776 non-null   int64
 1   title           1776 non-null   object
 2   authors         1776 non-null   object
 3   original_price  1776 non-null   int64
 4   current_price   1776 non-null   int64
 5   quantity        1776 non-null   float64
 6   category        1776 non-null   object
 7   n_review        1776 non-null   int64
 8   avg_rating      1776 non-null   float64
 9   pages           1776 non-null   float64
 10  manufacturer    1776 non-null   object
 11  cover_link      1776 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 180.4+ KB

In [32]:
book['discount'] = round(1 - book['current_price'] / book['original_price'], 2)

In [33]:
book.head()

,product_id,title,authors,original_price,current_price,quantity,category,n_review,avg_rating,pages,manufacturer,cover_link,discount
0,74021317,Cây Cam Ngọt Của Tôi,José Mauro de Vasconcelos,108000,64800,53075.0,Tiểu Thuyết,11481,5.0,244.0,Nhà Xuất Bản Hội Nhà Văn,https://salt.tikicdn.com/ts/product/5e/18/24/2...,0.4
2,184466860,Hành Tinh Của Một Kẻ Nghĩ Nhiều,Nguyễn Đoàn Minh Thư,86000,59900,7929.0,Sách tư duy - Kỹ năng sống,780,4.8,184.0,Nhà Xuất Bản Thế Giới,https://salt.tikicdn.com/ts/product/d7/99/24/1...,0.3
3,73787185,Những Tù Nhân Của Địa Lý,Tim Marshall,210000,126000,17896.0,Lĩnh vực khác,3623,4.8,430.0,Nhà Xuất Bản Hội Nhà Văn,https://salt.tikicdn.com/ts/product/8d/96/9e/c...,0.4
4,52789367,Nhà Giả Kim (Tái Bản 2020),Paulo Coelho,79000,47400,24668.0,Tác phẩm kinh điển,5131,5.0,228.0,Nhà Xuất Bản Hà Nội,https://salt.tikicdn.com/ts/product/45/3b/fc/a...,0.4
5,147920903,Một Thoáng Ta Rực Rỡ Ở Nhân Gian,Unknown,135000,81000,10000.0,Tiểu Thuyết,1636,4.8,304.0,Nhà Xuất Bản Hội Nhà Văn,https://salt.tikicdn.com/ts/product/2f/b5/4e/a...,0.4

tạo thêm cột discount

In [34]:
usd_to_vnd = 26313.99

book['original_price'] = (book['original_price'] / usd_to_vnd).round(2)
book['current_price'] = (book['current_price'] / usd_to_vnd).round(2)

chuyển cột discount thành 0.2, 0.3 thay vì % để phù hợp trong ML

chuyển VND sang USD

In [35]:
book.head(
)

,product_id,title,authors,original_price,current_price,quantity,category,n_review,avg_rating,pages,manufacturer,cover_link,discount
0,74021317,Cây Cam Ngọt Của Tôi,José Mauro de Vasconcelos,4.10,2.46,53075.0,Tiểu Thuyết,11481,5.0,244.0,Nhà Xuất Bản Hội Nhà Văn,https://salt.tikicdn.com/ts/product/5e/18/24/2...,0.4
2,184466860,Hành Tinh Của Một Kẻ Nghĩ Nhiều,Nguyễn Đoàn Minh Thư,3.27,2.28,7929.0,Sách tư duy - Kỹ năng sống,780,4.8,184.0,Nhà Xuất Bản Thế Giới,https://salt.tikicdn.com/ts/product/d7/99/24/1...,0.3
3,73787185,Những Tù Nhân Của Địa Lý,Tim Marshall,7.98,4.79,17896.0,Lĩnh vực khác,3623,4.8,430.0,Nhà Xuất Bản Hội Nhà Văn,https://salt.tikicdn.com/ts/product/8d/96/9e/c...,0.4
4,52789367,Nhà Giả Kim (Tái Bản 2020),Paulo Coelho,3.00,1.80,24668.0,Tác phẩm kinh điển,5131,5.0,228.0,Nhà Xuất Bản Hà Nội,https://salt.tikicdn.com/ts/product/45/3b/fc/a...,0.4
5,147920903,Một Thoáng Ta Rực Rỡ Ở Nhân Gian,Unknown,5.13,3.08,10000.0,Tiểu Thuyết,1636,4.8,304.0,Nhà Xuất Bản Hội Nhà Văn,https://salt.tikicdn.com/ts/product/2f/b5/4e/a...,0.4

In [36]:
book.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1776 entries, 0 to 1795
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      1776 non-null   int64
 1   title           1776 non-null   object
 2   authors         1776 non-null   object
 3   original_price  1776 non-null   float64
 4   current_price   1776 non-null   float64
 5   quantity        1776 non-null   float64
 6   category        1776 non-null   object
 7   n_review        1776 non-null   int64
 8   avg_rating      1776 non-null   float64
 9   pages           1776 non-null   float64
 10  manufacturer    1776 non-null   object
 11  cover_link      1776 non-null   object
 12  discount        1775 non-null   float64
dtypes: float64(6), int64(2), object(5)
memory usage: 194.2+ KB

kiểu dữ liệu còn chưa ổn lắm nên ta sẽ chuyển đổi chúng một tí

In [37]:
book['title'] = book['title'].astype("string")
book['quantity'] = book['quantity'].astype("int64")
book['pages'] = book['pages'].astype("int64")
book['cover_link'] = book['cover_link'].astype("string")

tạo thêm cột Revenue để tính tổng doanh thu

In [38]:
book['revenue'] = (book['quantity'] * book['current_price']).round(2)

In [39]:
book.head()

,product_id,title,authors,original_price,current_price,quantity,category,n_review,avg_rating,pages,manufacturer,cover_link,discount,revenue
0,74021317,Cây Cam Ngọt Của Tôi,José Mauro de Vasconcelos,4.10,2.46,53075,Tiểu Thuyết,11481,5.0,244,Nhà Xuất Bản Hội Nhà Văn,https://salt.tikicdn.com/ts/product/5e/18/24/2...,0.4,130564.50
2,184466860,Hành Tinh Của Một Kẻ Nghĩ Nhiều,Nguyễn Đoàn Minh Thư,3.27,2.28,7929,Sách tư duy - Kỹ năng sống,780,4.8,184,Nhà Xuất Bản Thế Giới,https://salt.tikicdn.com/ts/product/d7/99/24/1...,0.3,18078.12
3,73787185,Những Tù Nhân Của Địa Lý,Tim Marshall,7.98,4.79,17896,Lĩnh vực khác,3623,4.8,430,Nhà Xuất Bản Hội Nhà Văn,https://salt.tikicdn.com/ts/product/8d/96/9e/c...,0.4,85721.84
4,52789367,Nhà Giả Kim (Tái Bản 2020),Paulo Coelho,3.00,1.80,24668,Tác phẩm kinh điển,5131,5.0,228,Nhà Xuất Bản Hà Nội,https://salt.tikicdn.com/ts/product/45/3b/fc/a...,0.4,44402.40
5,147920903,Một Thoáng Ta Rực Rỡ Ở Nhân Gian,Unknown,5.13,3.08,10000,Tiểu Thuyết,1636,4.8,304,Nhà Xuất Bản Hội Nhà Văn,https://salt.tikicdn.com/ts/product/2f/b5/4e/a...,0.4,30800.00

In [40]:
book.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1776 entries, 0 to 1795
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      1776 non-null   int64
 1   title           1776 non-null   string
 2   authors         1776 non-null   object
 3   original_price  1776 non-null   float64
 4   current_price   1776 non-null   float64
 5   quantity        1776 non-null   int64
 6   category        1776 non-null   object
 7   n_review        1776 non-null   int64
 8   avg_rating      1776 non-null   float64
 9   pages           1776 non-null   int64
 10  manufacturer    1776 non-null   object
 11  cover_link      1776 non-null   string
 12  discount        1775 non-null   float64
 13  revenue         1776 non-null   float64
dtypes: float64(5), int64(4), object(3), string(2)
memory usage: 208.1+ KB

#### Xuất data cho PowerBI

In [41]:
book.to_csv("../data/book_data_cleaned_forPowerBI.csv", index=False, encoding='utf-8-sig')

## COMMENT - PROCESSING